{{#if formIsShown}}
<div>
<form>
    <h1>New Answer</h1>
    <div class="form-group">
        <label for="user">Your Name</label><br>
        {{input value=user id="user"}}
    </div>

    <div class="form-group">
        <label for="content">Your Answer</label><br>
        {{input value=content id="content"}}
    </div>
    <button {{action 'saveAnswer'}}>Submit</button>
</form>
</div>
{{else}}
<button {{action 'newAnswer'}}>Answer</button>
{{/if}}

