{{! The route responsible for displaying each question with its answers}}
<h4>Be responsible when answering the question!</h4>
<h3>The purpose of this questions is educational!</h3><br>

<h4>Please help answer the following question:</h4>
<h3>{{model.question}} - by {{model.author}}</h3>

{{update-question board=model update="update"}}

{{user-answers saveAnswer="saveAnswer" board=model}}

{{board-detail board=model}}
