<h2>Help answer the following question</h2>
<h3>{{model.question}} - by {{model.author}}:</h3>

{{update-question board=model update="update"}}

{{board-detail board=model}}

{{user-answers board=model saveAnswer="saveAnswer"}}

{{board-detail board=model}}
